@import "../App.scss";

.confirm-box-back {
  @extend .overlay-back;
  z-index: 100;
}

.confirm-box-content {
  @extend .overlay-content;
  height: auto;
  min-height: 10%;
  max-height: 30%;
  width: 55%;
  @include media(desktop) {
    max-height: 45%;
    width: 20%;
  }

  gap: 1em;

  .horizontal-sep {
    margin-top: auto;
  }
}

.confirm-box-msg {
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
}

.confirm-box-options {
  margin-top: auto;

  display: flex;
  justify-content: space-around;

  gap: 1em;

  .red-button,
  .blue-button {
    flex-basis: 20%;
  }
}
