@import "../App.scss";

.confirm-box-content {
  @extend .overaly-content;
  height: auto;
  min-height: 10%;
  max-height: 30%;
  width: 55%;

  gap: 1em;

  .horizontal-sep {
    margin-top: auto;
  }
}

.confirm-box-msg {
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
}

.confirm-box-options {
  margin-top: auto;

  display: flex;
  justify-content: space-around;
}
.text-button {
  padding: 0.4em 2em;
  background: color(button-back);

  border-radius: $border-radius;

  cursor: pointer;

  transition: $transition-time;
}
.yes-button {
  @extend .text-button;

  color: color(blue);

  &:hover {
    background: color(blue);
    color: white;
  }
}
.no-button {
  @extend .text-button;

  color: color(red);

  &:hover {
    background: color(red);
    color: white;
  }
}
