@import "../App.scss";

.create-preset-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.create-preset-header {
  display: flex;

  align-items: center;

  .create-preset-title {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .details-buttons {
    margin-left: auto;
  }
}

$item-background: rgba(
  $color: #000000,
  $alpha: 0.085,
);

.intervals-creation {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding-right: 0.25em;

  #preset-title {
    height: 2em;
    font-weight: 600;
  }

  .create-preset-values {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
  }

  .create-preset-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    padding: 0.4em 0;

    background: $item-background;

    border-radius: $border-radius;

    input {
      flex-grow: 1;
    }
    select {
      flex-grow: 4;
    }
    .preset-value-start-text {
      width: 8em;
      font-family: $font-mono;
      font-size: 0.8rem;
    }
  }
}
.preset-remove-item,
.preset-reorder-item,
.preset-add-item-icon {
  color: color(blue-dark);

  transition: $transition-time;
  &:hover {
    filter: brightness(2);
  }
}
.preset-remove-item {
  cursor: pointer;
}
.create-preset-add-item {
  padding: 0.2em 0;

  background: $item-background;

  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 40%;

  cursor: pointer;

  &:hover .preset-add-item-icon {
    filter: brightness(2);
  }
}

.create-preset-footer {
  margin-top: auto;

  .blue-button {
    margin: 0.5em auto 0 auto;
    text-align: center;
    width: 65%;
  }
}
