.create-preset-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.create-preset-header {
  display: flex;

  align-items: center;

  .create-preset-title {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .details-buttons {
    margin-left: auto;
  }
}

.intervals-creation{
  display: flex;
  flex-direction: column;

  input[type='text']{
    height: 2em;
    font-weight: 600;
  }
}

.create-preset-footer {
  margin-top: auto;

  .blue-button{
      margin: 0.5em auto 0 auto;
      text-align: center;
      width: 65%;
  }
}
