@import "../App.scss";

.item-details-back {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  background: color(overlay-back);

  animation: background-entrance 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details-content {
  width: 75%;
  height: 30%;

  background: color(repeating-item-back);

  box-shadow: 6px 9px 2em 0em black;

  border-radius: $border-radius;

  padding: 1em;

  animation: card-entrance 0.2s ease-in-out;
}

.before-sep {
  display: flex;
  align-items: center;
}
.full-title {
  font-size: 1.4rem;
  display: inline-block;
}
.details-exit {
  margin-left: auto;

  color: color(blue-dark);
  font-size: 2rem;

  border-radius: $border-radius;
  padding: 0.05em;
  background: rgba($color: #000000, $alpha: 0.1);

  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
  }
}

.details-status-icons {
  margin: 0.5em 0;
}

.item-details-desc {
  padding: 0.5em;
  background: rgba($color: #000000, $alpha: 0.05);
}
.no-desc {
  font-family: $font-mono;
  color: rgba($color: black, $alpha: 0.8);
  font-size: 0.75rem;
}

@keyframes card-entrance {
  from {
    transform: translateY(1.5em);
  }
  to {
    transform: translateY(0);
  }
}
