@import "../App.scss";

.before-sep {
  display: flex;
  align-items: center;

  gap: 0.3em;
}
.full-title {
  font-size: 1.4rem;
  display: inline-block;
}
.details-buttons {
  color: color(blue-dark);
  font-size: 2rem;

  border-radius: $border-radius;
  padding: 0.05em;
  background: rgba($color: #000000, $alpha: 0.1);

  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
  }
}
.details-edit {
  @extend .details-buttons;
  margin-left: auto;
}

.details-status-icons {
  margin: 0.5em 0;
}

.item-details-desc {
  padding: 0.5em;
  background: rgba($color: #000000, $alpha: 0.05);

  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;

  margin-bottom: 1em;
}
.no-desc {
  font-family: $font-mono;
  color: rgba($color: black, $alpha: 0.8);
  font-size: 0.75rem;
}

@keyframes card-entrance {
  from {
    transform: translateY(1.5em);
  }
  to {
    transform: translateY(0);
  }
}

.item-details-footer {
  margin-top: auto;
  .horizontal-sep {
    margin-bottom: 0.5em;
  }
}
.item-details-footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-streak {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
